{% if (ansible_local|d() and ansible_local.core|d() and ansible_local.core.admin_public_email|d()) %}
{%   for address in ansible_local.core.admin_public_email %}
- '{{ address }}'
{%   endfor %}
{% endif %}
