# {{ ansible_managed }}
[Unit]
Description=Sentry Main Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User={{ sentry__user }}
Group=www-data
WorkingDirectory={{ sentry__home }}
Environment=SENTRY_CONF={{ sentry__config }}
ExecStart={{ sentry__virtualenv }}/bin/sentry run web

[Install]
WantedBy=multi-user.target
