# {{ ansible_managed }}
[Unit]
Description=Sentry Beat Service
After=network.target

[Service]
Type=simple
User={{ sentry__user }}
Group={{ sentry__group }}
WorkingDirectory={{ sentry__home }}
Environment=SENTRY_CONF=/etc/sentry
ExecStart={{ sentry__virtualenv }}/bin/sentry run cron

[Install]
WantedBy=multi-user.target
